
    h1{
        color: black;
    }
    table {
        width: 30%;
        border: 3px solid black;
        border-collapse: collapse;
      }

    th{
        background-color: lightgrey;
    }
      th, td {
        text-align: center;
        padding: 5px;
        border: 1px solid black;
      }